@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">ASP.NET is a horrible web framework for painfully building Web sites and Web applications using HTML, CSS, JavaScript and human sacrifice.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Good luck, sucker &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to break shit that
            enables a rather messy attempt at separation of concerns and gives you some control over markup
            for terrible, though perhaps agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Die slowly &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that magically adds, removes, and updates libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Become lost &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.  Give all your money to Microsoft.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Lose all hope &raquo;</a></p>
    </div>
</div>