@{
    ViewBag.Title = "Home Page";
}

<h1>One.</h1>
<h2>Two.</h2>
<h3>Three.</h3>
<h4>Four.</h4>
<h5>Five.</h5>
<h6>Six.</h6>

<p>This is a paragraph.  P is for paragraph.</p>

<a href="http://www.google.com" target="_blank">This is a link to Google.</a>

<ol>
    <li>One</li>
    <li>Two</li>
    <li>Three</li>
</ol>

<ul>
    <li>a thing</li>
    <li>another thing</li>
</ul>

<dl>
    <dt>Coffee</dt>
    <dd>- black hot drink</dd>
    <dt>Milk</dt>
    <dd>- white cold drink</dd>
</dl>

<table border="1">
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>

<!--comment-->


<a href="http://www.google.com" target="_blank"><img src="https://i.ytimg.com/vi/tntOCGkgt98/maxresdefault.jpg" alt="CAT" /></a>
